<div class="app app-sidebar-fixed">
  <!-- sidebar.component.html -->
  <div id="sidebar" class="app-sidebar" data-bs-theme="dark">
    <div class="scrollbar-container app-sidebar-content ps">
      <div class="menu">
        <div class="menu-item d-flex">
          <a class="app-sidebar-minify-btn  ms-2" (click)="toggleSidebar($event)">
            <img src="/assets/img/call-register/menu.svg" alt="minify-button" />
          </a>
        </div>
      </div>

      <div class="menu">
        <div class="menu-item" [ngClass]="{'active': isActive('')}">
          <a aria-current="page" class="menu-link">
            <div class="menu-icon">
              <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="menu-text">Alarms</div>
          </a>
        </div>
        <div class="menu-item" [ngClass]="{'active': isActive('')}">
          <a aria-current="page" class="menu-link">
            <div class="menu-icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div class="menu-text">Experience</div>
          </a>
        </div>
      </div>

      <div class="ps__rail-x" style="left: 0; bottom: 0;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0; width: 0;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0; right: 0;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0; height: 0;"></div>
      </div>
    </div>
  </div>

  <div class="app-content">
    <div class="map-box">
     


      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': selectedTabIndex === 0}" (click)="selectedTabIndex = 0">Router
                Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': selectedTabIndex === 1}" (click)="selectedTabIndex = 1">Defect
                Analysis</a>
            </li>
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" [ngClass]="{'show active': selectedTabIndex === 0}">
              <!-- Router Details Content -->
              <div class="router-details ps-2">
                <div class="add-enquiry">
                  <div class="row">
                    <div class="col-12 mb-3" *ngFor="let field of fields">
                      <label class="label-text m-auto">
                        {{ field.label }}
                      </label>
                      <input type="text" class="form-control d-flex customer-remarks" placeholder=" " />
                    </div>
                    <div class="col-12 mb-2">
                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="circle me-2">
                                  <i class="fa-solid fa-wifi"></i>
                                </div>
                                <div class="hd mb-0">Effective Nodes</div>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                              <div class="d-flex align-items-center mb-3" *ngFor="let node of effectiveNodes">
                                <button class="circle blue me-2"></button>
                                <div class="hd">{{ node.name }}</div>
                              </div>
                              <ul class="list-unstyled">
                                <li class="d-flex" *ngFor="let item of nodeItems">
                                  <div class="circle danger me-2"></div>
                                  <div class="l-item d-flex align-items-center">
                                    {{ item.name }}
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" [ngClass]="{'show active': selectedTabIndex === 1}">
              <div class="tree">
                <ul [ngClass]="{'fault': fault}">
                  <li class="parent head">
                    <details>
                      <summary [ngClass]="{'fault': fault}">
                        <div class="d-flex align-items-center">
                          <div class="circle me-3"></div>
                          <div class="heading d-flex flex-column">
                            <h3 class="hd mb-0">RSU</h3>
                            <div>( OLT - Collected )</div>
                          </div>
                        </div>
                      </summary>
                      <ul>
                        <li *ngFor="let olt of olts">
                          <details *ngIf="olt.hasDetails">
                            <summary [ngClass]="{'fault': fault}">
                              {{ olt.name }}
                            </summary>
                            <ul>
                              <li *ngFor="let odf of olt.odfs">
                                <details *ngIf="odf.hasDetails">
                                  <summary [ngClass]="{'fault': fault}">
                                    {{ odf.name }}
                                  </summary>
                                  <ul>
                                    <li *ngFor="let fat of odf.fats">
                                      <details *ngIf="fat.hasDetails">
                                        <summary [ngClass]="{'fault': fault}">
                                          {{ fat.name }}
                                        </summary>
                                        <ul>
                                          <li *ngFor="let item of fat.items">
                                            {{ item }}
                                          </li>
                                        </ul>
                                      </details>
                                    </li>
                                    <li *ngFor="let otherOdf of odf.otherOdFs">
                                      {{ otherOdf.name }}
                                    </li>
                                  </ul>
                                </details>
                              </li>
                              <li *ngFor="let otherOdf of olt.otherOdFs">
                                {{ otherOdf.name }}
                              </li>
                            </ul>
                          </details>
                        </li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="theme-toggle-on-map" [ngClass]="{'active': context.expand}">
      <div (click)="toggleExpand($event)" class="theme-collapse-btn-map pulse-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">

      </div>
    </div>
    <div id="nav-map" class="d-flex align-items-center">
      <div class="buttons d-flex">
        <button class="btn" [ngClass]="{'active': !inputValue}">
          Dive In
        </button>
        <div class="form-check form-switch d-flex align-items-center">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="inputValue"
            (change)="handleChange($event)" />
        </div>
        <button class="btn" [ngClass]="{'active': inputValue}">
          Detailed View
        </button>
      </div>

      <div class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="search" />
        <i class="fa fa-close"></i>
      </div>

      <div class="end d-flex gap-2">
        <button class="btn btn-e" [ngClass]="{'active': activeButton === 1}" (click)="handleToggle(1)">
          RSU
          <i class="fa fa-close close" [ngClass]="{'d-inline': activeButton === 1, 'd-none': activeButton !== 1}"></i>
        </button>
        <button class="btn btn-e" [ngClass]="{'active': activeButton === 2}" (click)="handleToggle(2)">
          ODF
          <i class="fa fa-close close" [ngClass]="{'d-inline': activeButton === 2, 'd-none': activeButton !== 2}"></i>
        </button>
        <button class="btn btn-e" [ngClass]="{'active': activeButton === 3}" (click)="handleToggle(3)">
          FAT
          <i class="fa fa-close close" [ngClass]="{'d-inline': activeButton === 3, 'd-none': activeButton !== 3}"></i>
        </button>
        <button class="btn btn-e" [ngClass]="{'active': activeButton === 4}" (click)="handleToggle(4)">
          <i class="fa-solid fa-wifi"></i>DSL
          <i class="fa fa-close close" [ngClass]="{'d-inline': activeButton === 4, 'd-none': activeButton !== 4}"></i>
        </button>
        <div class="dropdown">
          <button class="btn btn-e btn-secondary dropdown-toggle" [ngClass]="{'active': activeButton === 5}"
            (click)="handleToggle(5)" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
              Reports
            </a>
            <a class="dropdown-item" href="#">
              Lorem Ipsum
            </a>
            <a class="dropdown-item" href="#">
              Lorem Ipsum
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="map-container"></div>
  </div>
</div>


